html{
  background-color: #74c9f0;
}

body {
  margin-top:10px; 
  margin-left:20%; 
  margin-right:20%; 
  margin-bottom:auto;
}

header h1{
  font-family: "標楷體";
  font-size: 40px; 
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px black;
  text-shadow: rgb(145, 223, 236) 1px 0 10px;
}

article h1{
  font-family: "微軟正黑體";
  font-size: 20px;
}

nav ul{
  background-color: #5bec73;
}

article li{
  font-family:"微軟正黑體";
  font-size: 20px;
  padding: 12.7px 20px 8px 30px;
}

nav li{
  font-family: "微軟正黑體";
  font-size: 20px;
  padding: 20px 50px 20px 50px;
  list-style-type: none;
  display: inline;
  text-align: center;
  line-height: 2;
}

a{
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition-duration: 200ms;
  text-shadow: rgb(12, 10, 0) 1px 0 10px;
}

article{
  background-color:rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

article p{
  font-family: "微軟正黑體";
  font-weight: bold;
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 12px; 
}

article p1{
  font-family: "標楷體";
  font-weight: bold;
  font-size: 18px;
  padding-left: 150px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px; 
}

article h2{
  font-family: "微軟正黑體";
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-align: left;
  padding-bottom:1px;
}

video{
  padding-left: 150px;
}

footer{
  background-color: rgb(238, 8, 8);
  padding:0px 0px 0px 0px;
}

h2{
  font-family: "微軟正黑體";
  text-align: center;
  color: white;
}